# Получи на https://my.telegram.org/apps
TG_API_ID=22297358
TG_API_HASH=509bbea071d2cefea2a89d9dfb101eb6

# Порт сервера
PORT=8000

# Разрешённые origins (фронтенд)
CORS_ORIGINS=http://localhost:5173,https://your-app.vercel.app